<% provide(:title, "About Us") %>


<div class="about">
<h1>About Us</h1>
<p>From across the world we came to this tropical wilderness south of the equator. Our ancestors left the tiny towns and villages their people had 
   called home for maybe thousands of years, from the valleys of north Portugal to the dusty Spanish south, from poor Italian farms to Japanese rice 
   fields, we came to this vast paradise.
    <br/><br/>
   We encountered animals we never saw before, fruits never tasted and plants never smelt. From this we created a cuisine which drew on the influences 
   of our different peoples, which used these new ingredients. We created something magical. But when it came time to wash this wonderous food down 
   all we have had to drink has been fizzy, tasteless, dull beers.
    <br/><br/>
   Our vision is to change this. To create a beer culture that embraces the culture of the old world we came from but adding that Brazilian love of 
   adventure and experience, preserving precious natural resources and promoting environmental responsibility within and beyond our operations. 
   No longer plain mainstream beer at the party but creamy wheat beers from Belgium and Holland, IPAs packing a citrus punch from Canada and the USA, 
   stouts and ales from Ireland and Britain fit for a Celtic banquet and exotic concoctions from our own Brazil which throw a tropical spin on these 
   wonders. Our watermelon wheat beer we are particularly proud of!</p>
 <h1><img src="../assets/Site/bbeer-map900.png"  alt="B-Beer Coverage Map" class="map" /></h1>
 </div>  
   
